<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <title>VGN Heatmap</title>
    <script src="/dist/js/ol.js"></script>
    <script src="/dist/js/lib/geolib.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/dist/css/ol.css">
    <style>
        .map {
            height: 100vh; /* 100% of the viewport height */
            width: 100vw; /* 100% of the viewport width */
            position: fixed; /* This will position the map relative to the viewport */
            top: 0;
            left: 0;
            z-index: 1; /* Make sure this is behind any other positioned elements */
        }
    </style>
</head>
<body>
    <div id="map" class="map"></div>
</body>
<script src="/dist/js/heatmap.js"></script>
</html>
